.footer {
  background-color: rgb(42, 49, 45);
  color: $typo_color;
  padding: 20px 25px 20px 25px;

  @media screen and (min-width: 769px) {}

  .footer_logo {
    @media screen and (min-width: 769px) {
      @include Flexbox(column, center);
    }

    img {
      width: 120px;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(160deg) brightness(110%) contrast(101%);
    }
  }

  .footer_collab {
    padding-top: 15px;

    @media screen and (min-width: 769px) {
      @include Flexbox(row, center);
    }

    .footer_content {
      @include Flexbox(column);

      @media screen and (min-width: 769px) {
        @include Flexbox(row);

        a {
          padding-left: 15px;
        }
      }

      a {
        display: inline;
        padding-bottom: 10px;
        text-decoration: none;
        color: white;

        &:hover {
          text-decoration: underline;
        }

        i {
          padding-right: 25px;
          width: 18px;
        }
      }
    }
  }

  .footer_mentions {
    @include Flexbox(column);

    @media screen and (min-width: 769px) {
      @include Flexbox(row, center, center);

      a {
        margin-left: 15px;
      }
    }

    a {
      text-decoration: none;
      color: white;
      padding-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }


}