.functioning_box {
  @include shadow;
  @include func-box-settings;
  @include Flexbox(row, flex-start, center);
  .icon {
    font-size: 22px;
    padding: 0 25px 0 10px;
    color: grey;
  }
  &:hover {
    background-color: lighten($color: $primary, $amount: 35%);
    cursor: pointer;
    .icon {
      color: darken($color: cornflowerblue, $amount: 15%);
    }
  }
  .numbers_position {
    position: relative;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $primary;
    @include Flexbox(row, center, center);
  }
  p {
    color: white;
  }
}
