.container_menu {
  min-width: 250px;
  position: relative;
  z-index: 1;
  background-color: $background;
  width: 100%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;

  @media screen and (min-width: 993px) {
    max-width: 1400px;
    margin: auto;
    padding: 25px;
  }

  .header_menu {
    position: relative;

    h1 {
      @include logo_titles;
      padding-left: 20px;
      padding-top: 30px;
      @include TextEllipsis;
    }

    i {
      position: absolute;
      @include heart;
      right: 35px;
      bottom: 5px;

      &:hover {
        @include heart_hover;
      }
    }
  }
}



.grid_menu {
  @include Grid(1, 3, 15px);

  @media screen and (min-width: 993px) {
    @include Grid(3, 1, 15px);
  }

  .menu_section {
    padding: 20px;

    .title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
    }

    hr {
      @include hr;
    }
  }

  .grid {
    max-width: 100%;
    @include Grid(1, 3, 20px);
  }
}



.menu_card {
  @include shadow;
  background-color: $cards_bkg;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  padding: 15px;

  .card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: calc(100%);
    animation: normal-size 0.5s ease-in;

    .card_title {
      @include TextEllipsis;
      font-size: 16px;
    }

    .card_description {
      @include TextEllipsis;
      font-size: 16px;
    }
  }

  .card_price {

    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
  }

  .card_check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 22px;
    background-color: $tertiary;
    color: $typo_color;
    width: 4rem;
    border-radius: 0 15px 15px 0;
    transition: transform 0.5s ease-in-out;
    margin: -1rem -5rem -1rem 1rem;

    .fa-circle-check {
      transition: transform 0.5s ease-in-out;
    }
  }


  &:hover {
    .card_content {
      // width: calc(60%);
      animation: resizing 0.5s linear both;
    }

    .card_price {
      transform: translateX(-4rem);
    }

    .card_check {
      transform: translateX(-4rem);
    }

    .fa-circle-check {
      transform: rotate(-360deg);
    }
  }
}