/*
* LOADING SPINNER
*/
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hidding {
  to {
    visibility: hidden;
  }
}


/* 
* BOUCLE @FOR -- ANIMATION SPAWN MENU
*/
@for $i from 1 through 9 {
  .p-#{$i} {
    animation-delay: $i * 0.1s;
    // animation-duration: $i * 0.1s;
  }
}

.p-1,
.p-2,
.p-3,
.p-4,
.p-5,
.p-6,
.p-7,
.p-8,
.p-9 {
  animation-name: scale-up-center;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}



/*
* Menu spawn animation
*/
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}




/*
* ELLIPSIS ANIMATION
*/
@keyframes resizing {
  to {
    width: 70%;
  }
}

@keyframes normal-size {
  from {
    width: 70%;
  }

  to {
    width: 100%;
  }
}