/*
* FONT-FAMILY
*/
@mixin logo_titles {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}

@mixin texts {
  font-family: "Roboto", sans-serif;
}

/* 
* Flexbox
*/
@mixin Flexbox($direction: row,
  $horizontal: flex-start,
  $vertical: flex-start) {
  display: flex;
  flex-direction: $direction;

  @if ($direction =="row") {
    justify-content: $horizontal;
    align-items: $vertical;
  }

  @else {
    align-items: $horizontal;
    justify-content: $vertical;
  }
}

/*
* GRID
*/
@mixin Grid($cols: 1, $rows: 1, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $gap;
}



@mixin TextEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}



/*
* BOUTONS INDEX & MENU
*/
@mixin buttons_parameters {
  background-image: linear-gradient(180deg, $secondary, $primary);
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0 25px;
  color: $typo_color;
  height: 50px;
  transition-duration: 1s;

  &:hover {
    background-image: linear-gradient(180deg, lighten($secondary, 5%), lighten($primary, 5%));
    box-shadow: 5px 5px 9px rgb(0 0 0 / 40%);
  }
}

//Functioning box
@mixin func-box-settings {
  height: 75px;
  border-radius: 20px;
  background-color: $background;
}


@mixin footer_color {
  color: $typo_color;
  padding: 20px 25px 10px 25px;
}


/* 
* NEW TAG MENU INDEX
*/
@mixin new-tag {
  right: 18px;
  top: 18px;
  text-align: center;
  background-color: $tertiary;
  color: darken($color: #99e2d0, $amount: 40%);
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
  width: 100px;
}

/*
* MENU STYLES
*/
@mixin hr {
  width: 40px;
  margin: 0;
  height: 3px;
  background-color: $tertiary;
  border: 0;
  margin: 5px 0 15px 0;
}




/*
* SHADOW
*/
@mixin shadow {
  box-shadow: 5px 5px 9px rgb(0 0 0 / 11%);
}



/*
* HEART INDEX & MENU
*/
@mixin heart {
  font-size: 25px;
  cursor: pointer;
}

@mixin heart_hover {
  background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  transition-duration: 0.3s;
}