/*
* COLOR THEME
*/
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$background: #f6f6f6;
$background-dark: darken(#f6f6f6, 1.3%);


/*
* RESTAURANTS CARDS COLOR
*/
$cards_bkg: white;


/*
* TYPO COLOR
*/
$typo_color: white;